@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
:root {
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
  font-size: 16px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --background-color: #242424;
  --second-background-color: #4f6060;
  --color: #d9fffe;
  --accent: #87e5ff;
  --accent-background-color: #04c9ff67;
  --hover-color: #80e1fce6;

  background-color: var(--background-color);
  color: var(--color);
}
body {
  margin: 0;
}
