.Note {
  background: red;
  border-radius: 2rem;
  padding: 1rem;
  min-width: 10vw;
  height: fit-content;
  max-width: 20vw;
}
.Note h2 {
  text-align: center;
  margin: 0 0 0.5rem 0;
}
.Note p {
  margin: 0;
}
